:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: #ff6fd8;
}

.navbar {
  padding: 1rem;
  height: 10vh;
  background-color: #4401a7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

.font {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}

button {
  background-color: #41307a;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  font-size: 1rem;
  border: none;
  color: white;
  font-weight: 900;
}

.calculator_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #4401a7;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form_input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form_input p {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}

.form_input input {
  padding: 0.5rem 1rem;
  outline: none;
}
